<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poseidon.web.dao.MultiBoardDAO">

	<select id="list" parameterType="Integer" resultType="Map">
			SELECT @ROWNUM:=@ROWNUM+1 AS rowNum,
	m.mb_no, m.mb_title, m.mb_date, m.mb_read, m.m_name, m.mb_board, 
	(SELECT COUNT(*) FROM mbboardview WHERE mb_board = #{board}) AS COUNT
	FROM mbboardview m, (SELECT @ROWNUM:=0) AS R
	WHERE mb_board = #{board}
	ORDER BY rowNum DESC
	LIMIT 0, 10
			
		
	</select>

	<insert id="mbWrite" parameterType="Map">
		INSERT INTO multiboard (mb_title, mb_content, mb_board, m_no) 
		VALUES (#{title}, #{content }, #{board }, (SELECT m_no FROM members WHERE m_id=#{mid }))
		<selectKey resultType="Integer" keyProperty="mb_no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="mbdetail" parameterType="Integer" resultType="Map">
		SELECT mb_no, mb_title, mb_content, mb_date, mb_read, mb_board, m_name 
		FROM mbboardview 
		WHERE mb_no=#{mbno}
	</select>
		
	<select id="boardlist" resultType="Map">
		SELECT * FROM setupboard
	</select>	

</mapper>